---
import Layout from '../layouts/Layout.astro';

import { Concert } from 'astro:db';

type Concert = {
  Date: Date;
  VenueId: { Name: string; City: string; Country: string };
};

const res = await fetch(`${Astro.url}api/concerts`);
const concerts = await res.json();
---

<Layout title="Home">
  <h2>Bruce Springsteen concerts attended</h2>
  {
    concerts.map((concert: Concert, i: number) => (
      <div class="flex rounded m-2 shadow bg-sky-300 hover:bg-yellow-600">
        <div class="my-4 text-center rounded-l text-3xl font-semibold w-10">
          {i + 1}
        </div>
        <div class="rounded-r w-full bg-sky-50 w-100 border-l-2 border-sky-50">
          <div class="rounded-tr py-1 px-2 bg-sky-300">
            <b>
              {new Date(concert.Date).toLocaleString('en-GB', {
                dateStyle: 'short',
              })}{' '}
            </b>
          </div>
          <div class="px-2 py-1 bg-sky-50">
            {concert.VenueId.Name}, {concert.VenueId.City},{' '}
            {concert.VenueId.Country}
          </div>
        </div>
      </div>
    ))
  }
</Layout>
