---
import Layout from '@layouts/Layout.astro';
import ShowPreview from '@components/ShowPreview.astro';

let allShows = await Astro.glob('./shows/*.md');
allShows = allShows.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---
<Layout title="Springsteen">
  <div class="prose prose-slate mx-auto lg:prose-lg">
    <p class="lead">Shows attended to date</p>
  </div>

  <table class="table-auto">
    <thead>
      <th>Date</th>
      <th>Location</th>
      <th>Details</th>
      <th></th>
    </thead>
    <tbody>
      {allShows.map((s) => <ShowPreview show={s} /> )}
    </tbody>
  </table>
</Layout>