---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<script id="fontawesome-js" src="/assets/fontawesome/all.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" id="bitter-css" href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">	
	<link rel="stylesheet" id="lato-css" href="https://fonts.googleapis.com/css2?family=Lato%3Awght%40300%3B400%3B700&amp;display=swap&amp;ver=21b6fc61aa81282d323d00d15ad0df07" type="text/css" media="all">
	<script>
		import countapi from 'countapi-js';
		countapi.visits().then((result) => {
			console.log(result.value);
		});		
	</script>
</head>
<body>
	<div class="container mx-auto">
		<slot />
	</div>
</body>
</html>

